{% extends "classroom/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container px-4">
        <br>
        <h1>Add TA to class</h1>
        <br>
        <h3>Form example</h3>
        <p>- <code>23</code> Add user id 23 to class as student in {{ class_detail.name }} class.</p>
        <p>- <code>23,24,25</code> Add user id 23, 24 and 25 to class as student in {{ class_detail.name }} class.</p>
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ form|crispy }}
          </fieldset>
          <p></p>
          <div class="form-group">
              <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Save</button>
          </div>
            <p></p>
      </form>
    </div>
{% endblock content %}