{% extends "classroom/base.html" %}
{% load static %}
{% block content %}
<div class="container px-4">

        <h1>{{ object.name }}</h1>
        <br>
        <p class="text-muted">Class ID : {{ object.id }}</p>
{#TODO: TA can use this function too.#}
        {% if user.profile.role == "teacher" %}
            <a class="btn btn-primary" href="#" role="button" style="font-family:Arial, FontAwesome">&#xF067; New Work</a>
            <a class="btn btn-primary" href="#" role="button" style="font-family:Arial, FontAwesome">&#xF0A1; New Announcement</a>
            <a class="btn btn-primary" href="{% url "class-add-student" object.pk %}" role="button" style="font-family:Arial, FontAwesome">&#xf234; Add Student</a>
            <a class="btn btn-primary" href="{% url "class-add-ta" object.pk %}" role="button" style="font-family:Arial, FontAwesome">&#xf234; Add TA</a>
            <a class="btn btn-primary" href="{% url "class-add-teacher" object.pk %}" role="button" style="font-family:Arial, FontAwesome">&#xf234; Add Teacher</a>
            <a class="btn btn-primary" href="{% url "class-edit-member" object.pk%}" role="button" style="font-family:Arial, FontAwesome">&#xf4ff; Edit Class Member</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url "class-member" object.pk%}" role="button" style="font-family:Arial, FontAwesome">&#xf007; Member List</a>
        {% if user == class.author %}
            <a class="btn btn-danger" href="{% url "class-delete" object.pk%}" role="button" style="font-family:Arial, FontAwesome">&#xf2ed; Delete Class</a>
        {% endif %}
        <br>
        <br>

    </div>
{% endblock content %}