{% extends "classroom/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb-link-color" href="{% url 'classroom-home' %}">Courses</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link-color" href="{% url 'class-detail' class.id %}">{{ class.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Member</li>
            </ol>
        </nav>
    </div>
<div class="container px-4">

        <h1>{{ class.name }} member</h1>
        <br>

    {% if student_number != 0 %}
        <h2>Student({{ student_number }})</h2>
    {% endif %}
    {% for student_detail in student %}
        <div class="row mb-3 border rounded-3">
            <div class="col-md-3 themed-grid-col"><img class="rounded-circle" width=50px height=50px src={{ student_detail.profile.image.url }}></div>
            <div class="col-md-6 themed-grid-col">{{ student_detail.first_name }} {{ student_detail.last_name }}</div>
            <div class="col-md-3 themed-grid-col text-end">{{ student_detail.username }}</div>
        </div>
    {% endfor %}
    {% if ta_number != 0 %}
        <h2>TA({{ ta_number }})</h2>
    {% endif %}
    {% for ta_detail in ta %}
        <div class="row mb-3 border rounded-3">
            <div class="col-md-3 themed-grid-col"><img class="rounded-circle" width=50px height=50px src={{ ta_detail.profile.image.url }}></div>
            <div class="col-md-6 themed-grid-col">{{ ta_detail.first_name }} {{ ta_detail.last_name }}</div>
            <div class="col-md-3 themed-grid-col text-end">{{ ta_detail.username }}</div>
        </div>
    {% endfor %}
    {% if teacher_number != 0 %}
        <h2>Teacher({{ teacher_number }})</h2>
    {% endif %}
    {% for teacher_detail in teacher %}
        <div class="row mb-3 border rounded-3">
            <div class="col-md-3 themed-grid-col"><img class="rounded-circle" width=50px height=50px src={{ teacher_detail.profile.image.url }}></div>
            <div class="col-md-6 themed-grid-col">{{ teacher_detail.first_name }} {{ teacher_detail.last_name }}</div>
            <div class="col-md-3 themed-grid-col text-end">{{ teacher_detail.username }}</div>
        </div>
    {% endfor %}

    </div>
{% endblock content %}